.navbar-default {
  background-color: #e6cece;
}
.navbar-brand {
  color: black;
}
.navbar-nav a:hover, .navbar-nav a: focus {
  text-decoration: none;
  color: #0000;
  text-align: center;
}

.navbar-collapse {
  text-align: center;
}
h4 {
  text-align: center;
  padding-top: 5px;
  color: #707070;
}
.col{
   border: 1px solid #e6cece
  
}

#Content {
 
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
 
    
}


.text-center {
  font-size: 1.9em;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .btn-info {
    display: none !important;
  }
}

.glyphicon-menu-hamburger {
  font-size: npx;
}
