.navbar-default {
  background-color: #e6cece;
  border-color: #e7e7e7;
}

.navbar-default a:hover,
.navbar-default a:focus {
  text-decoration: none;
  color: #0000;
  text-align: center;
}

.navbar-nav {
  text-align: center;
}
h5 {
  text-align: center;
  padding-top: 5px;
  color: rgb(214, 191, 116);
}

#main-content {
  padding: 10px;
}
#Content {
  column-gap: 30px;
  padding-top: 10px;
}
.text-center {
  padding-top: 20px;
  color: rgba(78, 78, 172, 0.647);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-toggle {
  border: 2px solid rgb(255, 102, 203);
  border-radius: 4px;
  width: 25px;
  height: 25px;
  background-color: lightseagreen;
}
